body {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
}

body {
  background-image: url('/images/paisley.png');
}

#card figure {
  font-weight: bold;
  background-position: top center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#card .front {
  background-image: url("/images/playing_card.png");
}

#card .back .response {
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 3px 4px 5px #000;
  -webkit-transform: rotate(350deg);
  -moz-transform: rotate(350deg);
  -ms-transform: rotate(350deg);
  -o-transform: rotate(350deg);
  transform: rotate(350deg);
}

.score-box {
  border: 1px solid rgba(255, 255, 255, .25);
  background-color: rgba(52, 152, 219, .5);
}

.answer {
  border: 1px solid rgba(255, 255, 255, .25);
  background-color: rgba(52, 152, 219, .5);
}

.correct {
  border-color: rgba(0, 255, 0, 1);
  background-color: rgba(0, 255, 0, .5);
}
.incorrect {
  border-color: rgba(255, 0, 0, 1);
  background-color: rgba(255, 0, 0, .5);
}

.answer .role, .answer .title, .answer .source a { color: yellow; font-weight: 800;}
.answer .source { font-size: 80%;}

.btn {
    font-size: 120%;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
